<div class="page-content">
  <!-- Hero Section -->
  <section id="hero" class="hero section light-background">
    <img src="assets/img/home/banner1.png" alt="" data-aos="fade-in" />

    <div class="container position-relative">
      <div
        class="welcome position-relative"
        data-aos="fade-down"
        data-aos-delay="100"
      >
        <h1 class="hero-title">
          <span class="light">Welcome to</span> <br />
          <span class="bold" data-no-translate>TUNICURE</span>
        </h1>

        <p class="hero-subtitle">
          All-inclusive aesthetic care with VIP medical travel in Tunisia.
        </p>

        <a routerLink="/order" class="btn-clinic-details btn-cta-center">
          <span>Book a Free Quote</span>
        </a>
      </div>
    </div>
  </section>
  <!-- /Hero Section -->

  <!-- About Section -->
  <section id="about" class="about-tunicure">
    <div class="container">
      <div class="container" data-aos="fade-up">
        <div class="hero-center2 mb-3">
          <div class="services-btn mb-1">
            <span class="icon"></span>
            <p class="custom-title mb-0">About <span data-no-translate> Tunicure</span></p>
          </div>
        </div>
      </div>
      <div class="row about-row gy-5">
        <!-- LEFT CONTENT -->
        <div class="col-lg-6">
          <h2 class="custom-title2">What Is <span data-no-translate> Tunicure </span>?</h2>
          <p class="custom-title22">
            <span data-no-translate> Tunicure </span> is a medical travel agency based in Sousse, on Tunisia’s
            Sahel coast specialised in organising high-end cosmetic surgery
            treatments in Tunisia. We provide a fully personalised, VIP medical
            travel experience, taking care of our patients from start to finish,
            with professionalism, discretion, and attention to detail. From the
            very first consultation to post-treatment follow-up, Tunicure
            manages every aspect of your journey so you can focus entirely on
            your health, comfort, and results.
          </p>
          <h4 class="custom-title3">Our Areas of Expertise</h4>
          <span
            ><span data-no-translate> Tunicure </span> specialises in a wide range of medical treatments,
            including:</span
          >
          <!-- Feature 1 -->
          <div class="about-feature">
            <div class="icon-img">
              <img src="assets/img/home/Ellipse.png" alt="" />
            </div>
            <div>
              <p class="mb-0">
                Cosmetic surgery (body contouring, breast surgery, facial
                surgery, rhinoplasty, etc.)
              </p>
            </div>
          </div>

          <!-- Feature 2 -->
          <div class="about-feature">
            <div class="icon-img">
              <img src="assets/img/home/Ellipse.png" alt="" />
            </div>
            <div>
              <p class="mb-0">Eye laser treatments (vision correction)</p>
            </div>
          </div>

          <!-- Feature 3 -->
          <div class="about-feature">
            <div class="icon-img">
              <img src="assets/img/home/Ellipse.png" alt="" />
            </div>
            <div>
              <p>Hair transplant and hair restoration</p>
            </div>
          </div>
          <div class="about-feature">
            <div class="icon-img">
              <img src="assets/img/home/Ellipse.png" alt="" />
            </div>
            <div>
              <p class="mb-0">
                Dental treatments (implants, veneers, smile makeovers) Each
                treatment plan is tailored to your medical needs and
                expectations.
              </p>
            </div>
          </div>
        </div>

        <!-- RIGHT IMAGE -->
        <div class="col-lg-6">
          <div class="about-image-wrapper">
            <div class="image-shape">
              <img src="assets/img/home/about.jpg" alt="" />
            </div>

            <div class="experience-badge">
              <strong>+20 Years</strong>
              Surgical Expertise
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /About Section -->

  <!-- Services Section -->
  <section id="services" class="services section service-bg">
    <!-- Section Title -->
    <div class="container section-title p-2" data-aos="fade-up">
      <div class="hero-center">
        <div class="services-btn">
          <span class="icon"></span>
          <p class="custom-title">Our services</p>
        </div>

        <p class="custom-heading2">
          Everything we provide to ensure a smooth medical experience.
        </p>
      </div>
    </div>
    <!-- End Section Title -->

    <div
      class="container services-grid mt-5"
      data-aos="fade-up"
      data-aos-delay="100"
    >
      <div class="service-card">
        <div class="service-icon2">
          <img src="assets/img/home/transport.png" />
        </div>
        <h3>TRANSPORT</h3>
        <p>VIP transfers and transportation throughout your journey.</p>
      </div>

      <div class="service-card">
        <div class="service-icon2">
          <img src="assets/img/home/assistant.png" />
        </div>
        <h3>ASSISTANT</h3>
        <p>Dedicated assistants available 24/7 for your needs.</p>
      </div>

      <div class="service-card">
        <div class="service-icon2">
          <img src="assets/img/home/INTERPRETER.png" />
        </div>
        <h3>INTERPRETER</h3>
        <p>Professional interpreters remove language barriers.</p>
      </div>

      <div class="service-card">
        <div class="service-icon2">
          <img src="assets/img/home/hotel.png" />
        </div>
        <h3>HOTEL</h3>
        <p>
          Your stay includes carefully selected hotel accommodation, ensuring
          comfort, privacy, and a restful environment during your recovery.
        </p>
      </div>

      <div class="service-card">
        <div class="service-icon2">
          <img src="assets/img/home/clinic.png" />
        </div>
        <h3>CLINIC</h3>
        <p>
          All treatments are performed in accredited clinics meeting the highest
          medical standards.
        </p>
      </div>

      <div class="service-card">
        <div class="service-icon2">
          <img src="assets/img/home/surgery.png" />
        </div>
        <h3>SURGERY</h3>
        <p>Experienced surgeons perform procedures with precision and care.</p>
      </div>

      <div class="service-card">
        <div class="service-icon2">
          <img src="assets/img/home/AFTERCARE.png" />
        </div>
        <h3>AFTER CARE</h3>
        <p>Follow-up and care fully managed after treatment.</p>
      </div>
    </div>
  </section>
  <!-- /Services Section -->

  <!-- Categories Section -->
  <app-categories></app-categories>
  <!-- /Categories Section -->
  <!-- Hotels Carousel Section -->
  <app-hotels-carousel></app-hotels-carousel>
  <!-- /Hotels Carousel Section -->

  <!-- Clinics Section -->
  <app-clinics-section></app-clinics-section>
  <!-- /Clinics Section -->

  <!-- Doctors Section -->
  <app-doctor></app-doctor>
  <!-- /Doctors Section -->

  <!-- FAQ Section -->
  <section id="faq" class="faq-section">
    <div class="container">
      <div class="row">
        <!-- LEFT CONTENT -->
        <div class="col-lg-6 faq-left">
          <div class="content-wrapper">
            <div class="container" data-aos="fade-up">
              <div class="hero-center2">
                <div class="services-btn">
                  <span class="icon"></span>
                  <p class="custom-title mb-0">FAQ’S</p>
                </div>
                <p class="custom-heading2">
                  Frequently Asked Have Any Question?
                </p>
              </div>
            </div>
            <div class="faq-container">
              <div
                class="faq-item"
                *ngFor="let faq of faqs; let i = index"
                [class.active]="activeIndex === i"
              >
                <div class="faq-question" (click)="toggleFaq(i)">
                  <h3>{{ faq.question }}</h3>
                  <i
                    class="bi"
                    style="color: white"
                    [ngClass]="
                      activeIndex === i ? 'bi-chevron-up' : 'bi-chevron-down'
                    "
                  >
                  </i>
                </div>

                <div
                  class="faq-content"
                  [style.maxHeight]="activeIndex === i ? '200px' : '0px'"
                >
                  <p>{{ faq.answer }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- RIGHT IMAGE FULL HEIGHT -->
        <div class="faq-doctor"></div>
      </div>
    </div>
  </section>
  <!-- /FAQ Section -->

  <!-- Testimonials Section -->
  <app-testimonials-carousel></app-testimonials-carousel>
  <!-- /Testimonials Section -->

  <!-- Contact Section -->
  <section id="contact" class="about-tunicure2">
    <div class="contact-header container">
      <div class="container" data-aos="fade-up">
        <div class="hero-center">
          <div class="services-btn">
            <span class="icon"></span>
            <p class="custom-title mb-0">Contact us</p>
          </div>
          <p class="custom-heading">Feel Free to Get in Touch</p>
        </div>
      </div>
    </div>

    <div class="contact-card container">
      <div class="contact-wrapper">
        <!-- LEFT : FORM -->
        <div class="contact-form">
          <form (ngSubmit)="sendMailto()" #contactForm="ngForm">
            <div class="row">
              <input
                class="col"
                type="text"
                name="name"
                [(ngModel)]="form.name"
                placeholder="Your Name"
                required
              />

              <input
                type="email"
                name="email"
                [(ngModel)]="form.email"
                placeholder="Your Email"
                required
              />
            </div>

            <input
              type="text"
              name="subject"
              [(ngModel)]="form.subject"
              placeholder="Your Subject"
              required
            />

            <textarea
              name="message"
              [(ngModel)]="form.message"
              placeholder="Message..."
              rows="5"
              required
            ></textarea>

            <button type="submit" class="contact-btn" [disabled]="isSending">
              <span *ngIf="!isSending">Send your message</span>
              <span *ngIf="isSending">Opening email...</span>

              <img
                *ngIf="!isSending"
                src="assets/img/clinics/pepicons-pop_arrow-up.png"
                class="btn-arrow"
              />
            </button>
          </form>
        </div>

        <!-- RIGHT : MAP -->
        <div class="contact-map">
          <iframe
            src="https://maps.google.com/maps?q=Tunicure%20Av.%2014%20Janvier%20Sousse%204011%20VJ75%2B5P%20Sousse&t=&z=17&ie=UTF8&iwloc=&output=embed"
            width="100%"
            height="450"
            style="border: 0"
            loading="lazy"
            allowfullscreen=""
            referrerpolicy="no-referrer-when-downgrade"
          >
          </iframe>
        </div>
      </div>
    </div>
  </section>
  <!-- /Contact Section -->
</div>
